@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
}
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
.section-center{
    max-width: 1440px;
    margin: 85px auto;
}
.btn-primary{
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 8px;
    color: white;
    border:none;
    font-weight: 700px;

}
/* header style */
.header{
    justify-content: space-between;
    font-family: ;
    
}
.header-items{
    list-style: none;
    gap:34px;
    
    
}
.list-item{
    font-weight: 600px;
}
.header-title{
    font-size: 1.5rem;
    font-weight: bold;
}
/* banner section style */
.banner{
    justify-content: space-between;
}
.banner-heading{
    font-size: 3.25rem;
    font-weight: 700px;
    margin-bottom: 16px;
}
.banner-description{
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-img-container{
    background-image: url('../images/Circle\ design.svg');
    background-position: center;
}
/* banner style end */

/* sponsor section style*/
.sponsor{
    margin-top:170px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
/* sponsor style end */

/* collection section style*/
.collection{
    max-width: 1047px;
    text-align: center;
    margin-top: 100px;
}
.collection-title{
    color: rgb(58, 58, 58);
    font-size: 1.75rem;
    font-weight: 600px;
    margin-bottom: 30px;
}
.collection-cards{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap:45px;
    
}
.card{
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    max-width: 330px;
    padding: 17px 15px;
    text-align: left;
}
.card-name{
    font-size: 1.75rem;
    font-weight: 500px;
    margin-top: 16px;
    margin-bottom: 0px;
}
.price{
    color: rgba(0, 0, 0, 0.87);
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 1.5rem;
}
.card-description{
    color: rgb(120, 120, 133);
    font-size: 0.9rem;
    margin-top: 27px;
}
/* collection section style end */

/* featured section style */
.featured{
    max-width:1047px;
    justify-content: space-between;
}
.featured-content{
    max-width: 610px;
    margin-top: 23px;
}
.featured-title{
    color: rgb(10, 8, 38);
    font-size: 2.375rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}
.featured-description{
    color: rgb(108, 108, 108);
    font-weight: 700px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.btn-second{
    border-radius: 0px;
}
/* featured section style end */

/* footer section style */
.footer{
    hieght:330px;
    padding:50px 590px;
    background-color: #0a0826;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-title{
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer-description{
    color: rgb(217, 219, 225);
    font-size:0.875rem;
    font-weight: 700px;
    margin-bottom: 15px;
}
.icons{
    margin-top: 30px;
    gap:15px;
}